body
{
  overflow-x: hidden;
  font-family: sans-serif;
}
.header{
  background-color: #242424;
  position: fixed;
  z-index: 999;
}
nav
{
  height: auto;
}
.heading{
  margin: 0;
}
input,textarea{
  padding: 3px 10px;
  width: 50%;
}
nav p
{
  font-size: 30px;
  color: white;
}
nav a{
  float: right;
  position: relative;
  color:white;
  padding: 5px;
}
.user-info{
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
nav span
{
  float: right;
  position: relative;
  color:white;
  margin-right: 20px;
  padding: 5px;
}
.scroller{
  height: 100%;
  /*overflow-y: scroll;*/
}
.preview_img_admin{
  height: 100px;
}
#left
{
    height: 100%;
    overflow-y: auto;
    float: left;
    padding-right: 0;
    background-color: #747474;
    top: 52px;
    position: fixed;
    z-index: 999;
}
#right{
  padding-left: 250px;
  padding-top: 67px;
}
#toolbar{
  background-color:#01579B;
  color:#fff;
  padding: 10px 10px;
}
#toolbar select{
  color: #000;
}
.main-menu{
  padding: 0;
}
.drop-down .menu{
  background-color: #545454;
  display: block;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: solid 1px #000000;
}
.drop-down{
  margin: 0;
  padding-left: 0;
}
.drop-down.active li{
  display: block;
}
.drop-down>ul{
  padding-left: 0;
}
.drop-down>ul>a>li{
  display: none;
  padding-left: 0;
  background-color: #747474;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-bottom: solid 1px #000000;
}
.drop-down>ul>a>li:hover{
  border-left: solid 5px #c3bfbd;
}

.drop-down .menu:hover{
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: black;
}
.drop-down i{
  margin-right: 10px;
}
#left a,a:hover,a:active,a:visited{
  color: white;
  text-decoration: none;
}

#right a:hover,a:active,a:visited{
  color: #337ab7;
  text-decoration: none;

}
.hidden-li
{
  display: none;
}
li
{
  list-style-type: none;
}

#l,#m li
{
  color:blue;
  font-size: 20px;
  font-family: monospace;
}
.btn-primary
{
  border-radius:0px;
}
#maincat,#subcat
{
    margin-top:30px;
    font-family: 'Yellowtail', cursive;
    font-size: 15px;
    color: black;
}
/*#mc,#sc
{
    font-family: 'Yellowtail', cursive;
    font-size: 15px;
    color: black;
}*/
#featured_header
{
  background-color: white;
  padding-top: 10px;
  height: 50px;
  width:100%;
  font-size: 20px;
  color: #673AB7;
  text-align: left;

}
th
{
  color: black;
  font-size: 15px;
}
td
{
  color: black;
}
a
{
  cursor: pointer;
}
#imageright img{
  height: 100%;
  padding-right: 0;
}
#centerimage
{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.btn-primary {
    color: #fff;
    background-color: #33a5b7;
    border-color: #f5f5f5;
}
h3{
    color: #33a5b7;
    font-weight: 600;
}
