.headbar{
  padding-top:2em;
  padding-bottom:2em;
}
.headbar .part3{
  text-align: right;
}
.headbar .part2, .headbar .part3{
  padding-top: 2em;
  padding-bottom:2em;
}
.headbar .part2 input{
  outline: none;
  color: #000;
  width: 80%;
  border: none;
  background-color: #e4e0e0;
  padding-left: 15px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 9px;
}
.headbar .part2 button{
  padding: 17px 19px;
  background-color: red;
  color: #fff;
  border: none;
  margin-left: -5px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  font-weight: bolder;
}
.headbar .part1 h1{
  font-weight: 700;
}
h4:hover{
  cursor: pointer;
}
.options{
  display: none;
}
.dropdown .part1{
  background-color: #efefef;
  border-radius: 10px;padding-top: 15px;
  padding-bottom: 20px;
}
.dropdown .part1 .menu{
  padding-top: 5px;
}
.dropdown .part1 .menu .options h4{
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 50px;
}
.circle{
  display: block;
  border: 3px solid white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 78px;
}
.divider{
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #d6d6d6;
}
.pagination{
  list-style: none;
  display: inline-block;
  float: left;
  padding-left: 0;
}
#paginate a{
  padding-left: 10px;
  border-radius: 4px;
  border: 2px solid darkgray;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding-right: 10px;
}
#paginate ul{
  padding-left: 0px;
}
#paginate a.active{
  background-color: red;
  color: white;
  border-color: red;
}
