header.main-header {
	z-index: 200;
	width: 100%;
	position: absolute;
}

header.main-header nav.nav-top .logo-wrapper .composition-text-primary {
	color: #fff;
}

header.main-header nav.nav-top .logo-wrapper .composition-text-secondary {
	color: #ccc;
}

header.main-header nav.nav-top .btn-menu {
	background-color: #fff;
}

header.main-header nav.nav-top .btn-menu:before,
header.main-header nav.nav-top .btn-menu:after {
	background-color: #fff;
}

header.main-header nav.nav-top .btn-menu.open {
	background-color: #fff;
}


/**-----------------------------------------------------------------
	[5. NAVIGATION top]
	-------------------------------------------------------------**/

nav.nav-top {
	display: table;
	width: 100%;
}

nav.nav-top .logo-wrapper,
nav.nav-top .menu-wrapper {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	position: relative;
}

nav.nav-top .logo-wrapper {
	z-index: 100;
}

nav.nav-top .logo-wrapper .logo-composition,
nav.nav-top .logo-wrapper .text-composition {
	display: table-cell;
	vertical-align: middle;
}

nav.nav-top .logo-wrapper .text-composition {
	padding-left: 20px;
}

nav.nav-top .logo-wrapper .composition-img {
	max-width: 64px;
	width: 100%;
}

nav.nav-top .logo-wrapper .composition-text-primary {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2.25rem;
}

nav.nav-top .logo-wrapper .composition-text-secondary {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 0.34375rem;
	line-height: 1.6;
	text-transform: uppercase;
	font-size: 1rem;
	padding-left: 3px;
	margin-top: 5px;
}

nav.nav-top .menu-wrapper {
	width: 64px;
	height: 64px;
	float: right;
	z-index: 500;
}

nav.nav-top .menu-toggle {
	display: inline-block;
	border: none;
	padding: 15px 0px;
}

nav.nav-top .menu-toggle.open .btn-menu {
	background-color: transparent !important;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

nav.nav-top .menu-toggle.open .btn-menu:before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

nav.nav-top .menu-toggle.open .btn-menu:after {
	top: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

nav.nav-top:hover .btn-menu:before {
	top: -18px;
}

nav.nav-top:hover .btn-menu:after {
	top: 18px;
}

nav.nav-top .hamburgermenu-wrapper {
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	background-color: #333;
	z-index: 400;
	-webkit-transform: translate3d(0px, -50px, 0px);
	transform: translate3d(0px, -50px, 0px);
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

nav.nav-top .hamburgermenu-wrapper.expanded {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

nav.nav-top .hamburgermenu-wrapper.expanded ul.list-top-menu>li {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}

nav.nav-top ul.list-top-menu {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

nav.nav-top ul.list-top-menu>li {
	display: block;
	margin-bottom: 20px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: translate3d(0px, 50px, 0px);
	transform: translate3d(0px, 50px, 0px);
}

nav.nav-top ul.list-top-menu>li a {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	letter-spacing: 0.34375rem;
	line-height: 1.6;
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #888;
	border: none;
}

nav.nav-top ul.list-top-menu>li a:hover {
	color: #fff;
}

nav.nav-top ul.list-top-menu>li:nth-child(1) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

nav.nav-top ul.list-top-menu>li:nth-child(2) {
	-webkit-transition-delay: 0.20s;
	transition-delay: 0.20s;
}

nav.nav-top ul.list-top-menu>li:nth-child(3) {
	-webkit-transition-delay: 0.24s;
	transition-delay: 0.24s;
}

nav.nav-top ul.list-top-menu>li:nth-child(4) {
	-webkit-transition-delay: 0.28s;
	transition-delay: 0.28s;
}

nav.nav-top ul.list-top-menu>li:nth-child(5) {
	-webkit-transition-delay: 0.32s;
	transition-delay: 0.32s;
}

nav.nav-top ul.list-top-menu>li:nth-child(6) {
	-webkit-transition-delay: 0.36s;
	transition-delay: 0.36s;
}

nav.nav-top ul.list-top-menu>li:nth-child(7) {
	-webkit-transition-delay: 0.40s;
	transition-delay: 0.40s;
}

nav.nav-top ul.list-top-menu>li:nth-child(8) {
	-webkit-transition-delay: 0.44s;
	transition-delay: 0.44s;
}

nav.nav-top ul.list-top-menu>li:nth-child(9) {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

nav.nav-top ul.list-top-menu>li:last-child {
	margin-bottom: 0;
}

nav.nav-top ul.list-top-menu ul.list-social {
	padding-top: 30px;
}

nav.nav-top ul.list-top-menu ul.list-social>li a {
	border: 2px solid #888;
}

nav.nav-top ul.list-top-menu ul.list-social>li a:hover {
	border-color: #fff;
	color: #333;
	background: #fff;
}


/*************************/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
	.w3-bar-block.w3-center .w3-bar-item {
		text-align: center;
		font-size: 15px;
	}
	nav.nav-top .menu-toggle {
		display: inline-block;
		border: none;
		padding: 26px 0px 0px 34px;
	}
	.btn-menu {
		position: relative;
		display: inline-block;
		width: 24px;
		height: 2px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:before {
		top: -6px;
		right: 0;
	}
	.btn-menu:before,
	.btn-menu:after {
		position: absolute;
		content: '';
		width: 24px;
		height: 2px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:after {
		top: 6px;
		right: 0;
	}
	.section .about {
		position: relative;
		/* background: repeating-linear-gradient(135deg, rgba(55, 55, 55, 0.2), rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.3) 2px, rgba(0, 0, 0, 0.3) 10px), url('images/about-bg.jpg'); */
		background: repeating-linear-gradient(135deg, rgba(8, 31, 17, 0.2), rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.3) 2px, rgba(0, 0, 0, 0.3) 8px), url('images/bg_about.png');
		box-shadow: inset 100vh 100vh 0 20px #000000ba;
		height: 100vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 0;
		left: 0;
		color: #fff;
		padding: 23vh 5vh 0 0;
		text-align: center;
		z-index: -1;
	}
	.section .about .custom img {
    	width: 100%;
    	height: 100%;
	}
	.section .about h5 {
    padding: 5px 30px;
		font-size: 13px;
		text-align: justify;
	}
	.section .about .custom h5 {
		font-size: 11px;
	}
	.product span {
		font-size: 33px;
	}
	.slider__image {
		width: 262px;
		height: 179px;
	}
	.slider {
		margin-top: 12%;
	}
	.slider__button .fas {
		/* font-size: 28px; */
	}
	.section .product {
		padding: 4em 0 0em 0;
	}
	.image--1 {
		margin-left: -84px;
	}
	.contact span {
	  font-size: 1em;
	}
	.container.product-details {
    margin-top: 28%;
	}
	.product-details .block-2 img {
    /* width: 21vh;
    height: 31vh; */
		width: 100%;
		height: 100%;
		margin-bottom: 15px;
	}
	.product-details .img-responsive {
    height: 30vh;
    width: 100%;
    padding-bottom: 7px;
	}
	.product-details .scrollbar {
    height: 31vh;
	}
	.product-details .block-4 img {
	  height: 15vh;
	}
	.container.relative_product_details {
    margin-top: 31%;
	}
	.relative_product_details .block-2 img {
 		object-fit: cover;
	  	height: 29vh;
	}
	.relative_products img {
      	height: 14vh;
	    width: 171%;
	    object-fit: cover;
	}
	.relative_product_details .block-3 h2 {
    font-size: 20px;
	}
	.relative_product_details .block-3 h2 {
    	font-size: 17px;
	}
	h2.block-3-h2 {
    font-size: 14px !important;
	}
	.other_product h4 {
    font-size: 9px !important;
    color: #fff;
	}
	.other_product h4 {
	    font-size: 9px !important;
	    color: #fff;
	}
	.other_product a {
	    font-size: 8px !important;
	    color: #fff;
	}
	.relative_products p {
	    font-size: 9px;
	}
	.row.relative_products h2{
      font-size: 20px;
	}
	.relative_product_details .block-4 h2 {
      font-size: 20px;
	}
	.relative_product_details .block-4 img {
	    height: 18vh;
	}
	.other_category_images{
		height: 225px;
	}
	.other_category_images img{
		max-width:100%;
		height:100%;
	}
	.about #svg_about {
    	top: 32%;
	}

  	/***  Our Work  ***/
	.img1 img {
	    width: 22vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img2 img {
	    width: 18vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img3 img {
	    width: 42vh;
	    height: 32vh;
	    filter: grayscale(100%);
	}
	.img4 img {
	    width: 20vh;
	    height: 14vh;
	    filter: grayscale(100%);
	    display: initial;
	}
	.img5 img {
	    width: 44vh;
	    height: 18vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.img6 img {
	    width: 44vh;
	    height: 39vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.lightzoom img {
	    background-repeat: no-repeat;
	    background-size: cover;
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	i.fa.fa-angle-double-left {
   	 	width: 15vh;
     	padding: 0% 0% 27% 2%;
	}
	i.fa.fa-angle-double-right {
	    width: 44vh;
        margin: 14px 0px 0px 0px;
	    background: #0f0;
	    padding: 3px 3px 7px 0px;
	    text-align: right;
	    font-family: FontAwesome;
	    font-weight: 10 !important;
	}

  	/*******************/
  	.container-fluid.relative_product_details {
    	width: 80%;
	}
  	.container-fluid.related-products {
    	width: 80%;
	}
	.product-details .block-1 p,
	.block-3 p {
      	font-size: 10px;
    	line-height: 1.5em;
	}
	.container-fluid.related-products img {
	    object-fit: cover;
	    height: 30vh;
	    width: 100%;
	}
	.relative_product_details {
      	margin: 10% 0px 5% 0px;
	}
	.category-name p {
	    font-size: 16px;
	}
  	.w3-center .w3-bar-item {
	    border-bottom: 2px solid #4646468c;
	    margin-left: 10% !important;
	    margin-right: 10% !important;
  	}
  	.relative_product_details .block-2 img {
	    width: 118%;
	}
	.related-products h2{
		font-size: 20px;
	}
	.footer-part1 #logo_1 {
	    padding: 9% 0px 0px 22%;
	}
	.footer-part1 #logo_2 {
	    padding: 2% 0px 15px 22%
	}
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
	.w3-bar-block.w3-center .w3-bar-item {
		text-align: center;
		font-size: 15px;
	}
	.menu-wrapper {
		margin-top: 31px;
	}
	nav.nav-top .menu-toggle {
		display: inline-block;
		border: none;
		padding: 29px 0px 0px 31px;
	}
	.btn-menu {
		position: relative;
		display: inline-block;
		width: 31px;
		height: 3px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:before {
		top: -7px;
		right: 0;
	}
	.btn-menu:before,
	.btn-menu:after {
		position: absolute;
		content: '';
		width: 31px;
		height: 3px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:after {
		top: 7px;
		right: 0;
	}
	.section .about .custom img {
		width: 152px;
		height: 144px;
	}
	.section .about h5 {
      	padding: 5px 30px;
		font-size: 12px;
		text-align: justify;
	}
	.section .about .custom h5 {
		font-size: 11px;
	}
	.product span {
		font-size: 0.5em;
	}
	.slider__image {
		width: 262px;
		height: 179px;
	}
	.slider {
		/* height: 200px; */
	}
	.image--2,
	.image--3 {
		left: 50%;
	}
	.image--4,
	.image--5 {
		right: 50%;
	}
	/* .image--1 {
		margin-left: -100px;
	}
	.image--2 {
		margin-left: -130px;
	}
	.image--3 {
		margin-left: -160px;
	}
	.image--4 {
		margin-right: -160px;
	}
	.image--5 {
		margin-right: -130px;
	} */
	.slider__button .fas {
		/* font-size: 28px; */
	}
	.contact span {
	  font-size: 1em;
	}
	.container.product-details {
    margin-top: 28%;
	}
	.product-details .scrollbar {
    height: 31vh;
	}
	.product-details .block-4 img {
	  height: 25vh;
	}
	.container.relative_product_details {
    margin-top: 23%;
	}
	.relative_product_details .block-2 img {
 		object-fit: cover;
	  	height: 28vh;
	}
	.relative_products img {
      	height: 30vh;
    	width: 85%;
    	object-fit: cover;
	}
	.relative_product_details .block-3 h2 {
    	font-size: 30px;
	}
	h2.block-3-h2 {
    font-size: 14px !important;
	}
	.other_product h4 {
	    font-size: 8px !important;
	    color: #fff;
	}
	.other_product a {
	    font-size: 9px !important;
	    color: #fff;
	}
	.relative_products p {
	    font-size: 9px;
	}
	.row.relative_products h2{
      font-size: 23px;
	}
	.relative_product_details .block-4 h2 {
      font-size: 23px;
	}
	.relative_product_details .block-4 img {
	    height: 20vh;
	}
	.about #svg_about {
    	top: 50%;
	}

  	/***  Our Work  ***/
	.img1 img {
	    width: 22vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img2 img {
	    width: 18vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img3 img {
	    width: 42vh;
	    height: 32vh;
	    filter: grayscale(100%);
	}
	.img4 img {
	    width: 20vh;
	    height: 14vh;
	    filter: grayscale(100%);
	    display: initial;
	}
	.img5 img {
	    width: 44vh;
	    height: 18vh;
	    filter: grayscale(100%);
	    margin: 0px 0 0px 0px;
	}
	.img6 img {
	    width: 44vh;
	    height: 39vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.lightzoom img {
	    background-repeat: no-repeat;
	    background-size: cover;
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	i.fa.fa-angle-double-left {
   	 	width: 15vh;
     	padding: 0% 0% 27% 2%;
	}
	i.fa.fa-angle-double-right {
	    width: 44vh;
        margin: 14px 0px 0px 0px;
	    background: #0f0;
	    padding: 3px 3px 7px 0px;
	    text-align: right;
	    font-family: FontAwesome;
	    font-weight: 10 !important;
	}

  	/*******************/
  	.container-fluid.relative_product_details {
    	width: 80%;
	}
  	.container-fluid.related-products {
    	width: 80%;
	}

	.product-details .block-1 p,
	.block-3 p {
    	font-size: 12px;
	  	line-height: 1.5em;
	}
	.container-fluid.related-products img {
	    object-fit: cover;
	    height: 43vh;
	    width: 100%;
	}
	.relative_product_details {
      	margin: 12% 0px 5% 0px;
	}
	.category-name p {
	    font-size: 18px;
	}
  	.w3-center .w3-bar-item {
	    border-bottom: 2px solid #4646468c;
	    margin-left: 15% !important;
	    margin-right: 15% !important;
  	}
  	.product-details .block-3 h2 {
	    font-size: 1.8em;
	    margin: 6vh 0 2vh 0;
	}
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
	.w3-bar-block.w3-center .w3-bar-item {
		text-align: center;
		font-size: 22px;
	}
	nav.nav-top .menu-toggle {
		display: inline-block;
		border: none;
		padding: 0px 0px 31px;
	}
	.btn-menu {
		position: relative;
		display: inline-block;
		width: 31px;
		height: 3px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:before {
		top: -7px;
		right: 0;
	}
	.btn-menu:before,
	.btn-menu:after {
		position: absolute;
		content: '';
		width: 31px;
		height: 3px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:after {
		top: 7px;
		right: 0;
	}
	.section .about {
		font-size: 3em;
	}
	.section .about .custom img {
	    width: 100%;
	     height: 100%;
	}
	.section .product {
		padding: 3em 0 3em 0;
	}
	.section .about h5 {
		padding: 0 15% 0 15%;
    	font-size: 13px;
			text-align: center;
	}
	.section .about .custom h5 {
		font-size: 14px;
	}
	.product span {
		font-size: 1.5em;
	}
	.slider__image {
		width: 40%;
		height: 85%;
	}
	.slider__button .fas {
		/* font-size: 28px; */
	}
	.slider {
		margin-top: 0%;
	}
	.contact span {
	  font-size: 2em;
	}
	.container.product-details {
      margin-top: 19%;
	}
	.product-details .text-block{
		top: 20%;
    left: 20%;
    transform: translate(-10%, 0);
	}
	.product-details .text-block h2{
		font-size: 0.8em;
	}
	.product-details .text-block p{
		font-size: 0.8em;
	}
	.product-details .text-block a{
		font-size: 0.9em;
	}
	.product-details .block-1 h2, .block-3 h2 {
    	font-size: 1.8em;
    	margin: 6vh 0 2vh 0;
	}
	.product-details .block-3 h2 {
		font-size: 1.8em;
		margin: 6vh 0 2vh 0;
	}
	.product-details .block-1 p, .block-3 p {
    font-size: 0.7em;
  }
 	.product-details .block-2 img{
	 	width: 100%;
	 	height: 36vh;
 	}
 	.product-details .scrollbar
	{
		height: 36vh;
	}
	.product-details .img-responsive {
		height: 23vh;
	}
	.product-details .block-4 img {
	  height: 50vh;
	}
	.related-productSection{
		width: 85% !important;
	}
	.related-products h2{
		font-size: 1.8em;
		padding-bottom: 2vh;
	}
	.related-products img{
		 object-fit:cover;
		 height:40vh;
		 width:100%;"
	 }
	.footer-part1 #logo_1 {
		padding: 28% 0px 15px 22%;
	}
	.footer-part1 #logo_2 {
    padding: 0 0 0 20%;
	}
	.footer-part2 h3,.footer-part3 h3,.footer-part4 h3{
	  padding: 11% 0 2% 0;
		font-size: 1.2em;
	}
	.footer-part2 ul,.footer-part3 ul{
	    margin-left: -12%;
	    font-size: 0.8em;
	}
	.footer span {
    padding: 0 0 0 5%;
		font-size: 0.8em;
	}
	.footer-part4 ul{
	    margin-left: -12%;
	    line-height: 3em;
	    font-size: 0.8em;
	}
	.container.relative_product_details {
    margin-top: 20%;
	}
	.relative_product_details .block-2 img {
      	object-fit: cover;
    	height: 32vh;
	}
	.relative_products img {
  	    height: 16vh;
	    width: 125%;
	    object-fit: cover;
	}
	.relative_product_details .block-3 h2 {
    	font-size: 33px;
	}
	h2.block-3-h2 {
    font-size: 16px !important;
	}
	.other_product h4 {
	    font-size: 9px !important;
	    color: #fff;
	}
	.other_product a {
	    font-size: 9px !important;
	    color: #fff;
	}
	.relative_products p {
	    font-size: 9px;
	}
	.row.relative_products h2{
      font-size: 25px;
	}
	.relative_product_details .block-4 h2 {
      font-size: 25px;
	}
	.relative_product_details .block-4 img {
	    height: 23vh;
	}
	.other_category_images {
    height: 200px;
	}
	.other_category_images img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
	.about #svg_about {
    	top: 50%;
	}

  	/***  Our Work  ***/
	.img1 img {
	    width: 12vh;
	    height: 19vh;
	    filter: grayscale(100%);
	}
	.img2 img {
	    width: 12vh;
	    height: 19vh;
	    filter: grayscale(100%);
	}
	.img3 img {
	    width: 12vh;
	    height: 19vh;
	    filter: grayscale(100%);
	}
	.img4 img {
	    width: 20vh;
	    height: 14vh;
	    filter: grayscale(100%);
	    display: none;
	}
	.img5 img {
	   width: 15vh;
	    margin: 0px 0 0px 124px;
	    height: 24vh;
	    filter: grayscale(100%);
	}
	.img6 img {
	    width: 15vh;
	    margin: 0px 0 0px 124px;
	    height: 35vh;
	    filter: grayscale(100%);
	}
	.lightzoom img {
       	background-repeat: no-repeat;
	    background-size: cover;
	    object-fit: cover;
	    width: 27vh;
	    height: 100%;
	}
	i.fa.fa-angle-double-left {
   	 	width: 12vh;
     	margin-top: .5vh;
	    padding: 0% 2% 7% 7%;
     	vertical-align: top;
	    background: #0f0;
	    font-family: FontAwesome;
	    text-align: left;
	    font-weight: 10 !important;
	}
	i.fa.fa-angle-double-right {
   	 	width: 15vh;
        margin: 14px 0px 0px 129px;
	    background: #0f0;
	    padding: 3px 3px 7px 0px;
	    text-align: right;
	    font-family: FontAwesome;
	    font-weight: 10 !important;
	}

  	/*******************/
  	.container-fluid.relative_product_details {
    	width: 80%;
	}
  	.container-fluid.related-products {
    	width: 80%;
	}

	.product-details .block-1 p,
	.block-3 p {
      	font-size: 13px;
    	line-height: 1.5em;
	}
	.container-fluid.related-products img {
	    object-fit: cover;
	    height: 26vh;
	    width: 100%;
	}
	.relative_product_details {
      	margin: 20% 0px 5% 0px;
	}
	.category-name p {
	    font-size: 20px;
	}
}

@media only screen and (min-width: 1024px) {

  	/***  Our Work  ***/
	.img1 img {
	    width: 15vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img2 img {
	    width: 14vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img3 img {
      	width: 33vh;
    	height: 32vh;
	    filter: grayscale(100%);
	}
	.img4 img {
      	width: 16vh;
	    height: 14vh;
	    filter: grayscale(100%);
	    display: initial;
	}
	.img5 img {
	    width: 44vh;
	    height: 18vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.img6 img {
	    width: 44vh;
	    height: 37vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.lightzoom img {
	    background-repeat: no-repeat;
	    background-size: cover;
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	i.fa.fa-angle-double-left {
   	 	width: 15vh;
     	padding: 0% 0% 27% 2%;
	}
	i.fa.fa-angle-double-right {
	    width: 44vh;
        margin: 14px 0px 0px 0px;
	    background: #0f0;
	    padding: 3px 3px 7px 0px;
	    text-align: right;
	    font-family: FontAwesome;
	    font-weight: 10 !important;
	}

  	/*******************/
  	.container-fluid.relative_product_details {
    	width: 80%;
	}
  	.container-fluid.related-products {
    	width: 80%;
	}
	.product-details .block-1 p,
	.block-3 p {
    	font-size: 16px;
	  	line-height: 2em;
	}
	.container-fluid.related-products img {
	    object-fit: cover;
	    height: 43vh;
	    width: 100%;
	}
	.relative_product_details {
      	margin: 16% 0px 5% 0px;
	}
	.category-name p {
	    font-size: 22px;
	}
  	.w3-center .w3-bar-item {
	    border-bottom: 2px solid #4646468c;
	    margin-left: 15% !important;
	    margin-right: 15% !important;
  	}
  	.related-products h2 {
	    font-size: 26px;
	}

  	.container-fluid.relative_product_details {
    	width: 80%;
	}
  	.container-fluid.related-products {
    	width: 80%;
	}
  	.container-fluid.related-products img {
    	object-fit:cover;
    	height:43vh;
    	width:100%;
	}
	.col-xs-12.col-sm-12.col-md-4.other_product_bottom {
   		width: 33.333333%;
	}
	.relative_product_details .block-2 img {
	    object-fit: cover;
	    height: 44vh;
	}
	.product-details .block-1 p, .block-3 p {
	    font-size: 13px;
	    line-height: 1.7em;
	}
	.relative_product_details {
      	margin: 16% 0px 5% 0px;
	}
	.relative_products img {
	    height: 21vh;
	    width: 103%;
	    object-fit: cover;
	}
	.relative_products p {
	    font-size: 13px;
	}
	.container-fluid.related-products img {
	    object-fit: cover;
	    height: 24vh;
	    width: 100%;
	}
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
	.w3-bar-block.w3-center .w3-bar-item {
		text-align: center;
		 font-size: 17px;
	}
	.section .about {
		font-size: 48px;
	}
	/* .section .about .custom img {
		width: 138px;
		height: 114px;
	} */
	/* .product svg {
		top: 56%;
		left: 54%;
	} */

	.section .about h5 {
		    padding: 0 16% 0 16%;
		font-size: 13px;
		text-align: center;
	}
	.section .product {
		/* padding: 5em 0 3em 0; */
	}
	.product span {
		font-size: 1.5em;
	}
	.slider__image {
		width: 40%;
		height: 85%;
	}
	.slider {
		margin-top: 0%;
	}-
	.contact span {
	  font-size: 2em;
	}
	.container.product-details {
    margin-top: 8%;
		width: 85%;
	}
	.product-details .text-block{
		top: 20%;
    left: 20%;
    transform: translate(-10%, 0);
	}
	.product-details .text-block h2{
		font-size: 1em;
	}
	.product-details .text-block p{
		font-size: 0.8em;
	}
	.product-details .text-block a{
		font-size: 0.9em;
	}
	.product-details .block-1 h2, .block-3 h2 {
	    font-size: 1.8em;
	    margin: 6vh 0 2vh 0;
	}
	.product-details .block-3 h2 {
		font-size: 1.8em;
		margin: 6vh 0 2vh 0;
	}
	.product-details .block-1 p, .block-3 p {
    font-size: 0.7em;
  }
 	.product-details .block-2 img{
	 	width: 100%;
	 	height: 40vh;
 	}
 	.product-details .scrollbar
	{
		height: 40vh;
	}
	.product-details .img-responsive {
		height: 23vh;
	}
	.product-details .block-4 img {
	  height: 50vh;
	}
	.related-productSection{
		width: 85% !important;
	}
	.related-products h2{
		font-size: 1.8em;
		padding-bottom: 2vh;
	}
	.related-products img{
		 object-fit:cover;
		 height:40vh;
		 width:100%;"
	 }
	.footer-part1 #logo_1 {
        padding: 15% 0px 3px 22%;
	}
	.footer-part1 #logo_2 {
    padding: 0 0 0 20%;
	}
	.footer-part2 h3,.footer-part3 h3,.footer-part4 h3{
	  padding: 11% 0 2% 0;
		font-size: 1.2em;
	}
	.footer-part2 ul,.footer-part3 ul{
	    margin-left: -12%;
	    font-size: 0.8em;
	}
	.footer span {
    padding: 0 0 0 5%;
		font-size: 0.8em;
	}
	.footer-part4 ul{
	    margin-left: -12%;
	    line-height: 3em;
	    font-size: 0.8em;
	}
	.container.relative_product_details {
    margin-top: 12%;
	}
	.relative_product_details .block-2 img {
 		object-fit: cover;
	  	height: 60vh;
	}
	.relative_products img {
      	height: 22vh;
    	width: 90%;
    	object-fit: cover;
	}
	.relative_product_details .block-3 h2 {
    	font-size: 38px;
	}
	h2.block-3-h2 {
    font-size: 18px !important;
	}
	.other_product h4 {
	    font-size: 11px !important;
	    color: #fff;
	}
	.other_product a {
	    font-size: 11px !important;
	    color: #fff;
	}
	.relative_products p {
	    font-size: 11px;
	}
	.row.relative_products h2{
      font-size: 27px;
	}
	.relative_product_details .block-4 h2 {
      font-size: 27px;
	}
	.relative_product_details .block-4 img {
	    height: 25vh;
	}
	.other_category_images {
    height: 280px;
	}
	.about #svg_about {
    	top: 50%;
	}
  	/***  Our Work  ***/
	.img1 img {
	    width: 14vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img2 img {
	    width: 14vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img3 img {
      	width: 30vh;
    	height: 32vh;
	    filter: grayscale(100%);
	}
	.img4 img {
      	width: 13vh;
	    height: 14vh;
	    filter: grayscale(100%);
	    display: initial;
	}
	.img5 img {
	    width: 44vh;
	    height: 18vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.img6 img {
	    width: 44vh;
	    height: 37vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.lightzoom img {
	    background-repeat: no-repeat;
	    background-size: cover;
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	i.fa.fa-angle-double-left {
   	 	width: 15vh;
     	padding: 0% 0% 27% 2%;
	}
	i.fa.fa-angle-double-right {
	    width: 44vh;
        margin: 14px 0px 0px 0px;
	    background: #0f0;
	    padding: 3px 3px 7px 0px;
	    text-align: right;
	    font-family: FontAwesome;
	    font-weight: 10 !important;
	}
	.section .work .grid {
	    padding: 1em 0em 1em 3em;
	}

  	/*******************/
  	.container-fluid.relative_product_details {
    	width: 80%;
	}
  	.container-fluid.related-products {
    	width: 80%;
	}

	.product-details .block-1 p,
	.block-3 p {
    	font-size: 13px;
	  	line-height: 1.7em;
	}
	.container-fluid.related-products img {
	    object-fit: cover;
	    height: 27vh;
	    width: 100%;
	}
	.relative_product_details {
    	margin: 15% 0px 5% 0px;
	}
	.category-name p {
	    font-size: 15px;
	}
  	.w3-center .w3-bar-item {
	    border-bottom: 2px solid #4646468c;
	    margin-left: 30% !important;
	    margin-right: 30% !important;
  	}
  	.related-products h2 {
        font-size: 1.8em;
	}
}

@media only screen and (min-width: 1200px) {
	.container.product-details {
    margin-top: 8%;
		width: 85%;
	}
	.product-details .text-block{
		top: 32%;
    left: 20%;
    transform: translate(-10%, 0);
	}
	.product-details .text-block h2{
		font-size: 1.2em;
	}
	.product-details .text-block p{
		font-size: 1em;
	}
	.product-details .text-block a{
		font-size: 1em;
	}
	.product-details .block-1 h2, .block-3 h2 {
    	font-size: 2.8em;
		margin: 5vh 0 2vh 0;
	}
	.product-details .block-3 h2 {
		font-size: 2.8em;
		margin: 6vh 0 2vh 0;
	}
	.product-details .block-1 p, .block-3 p {
    font-size: 0.9em;
  }
 	.product-details .block-2 img{
	 	width: 100%;
	 	height: 50vh;
 	}
 	.product-details .scrollbar
	{
		height: 50vh;
	}
	.product-details .img-responsive {
		height: 32vh;
	}
	.product-details .block-4 img {
	  height: 50vh;
	}
	.related-productSection{
		width: 85% !important;
	}
	.related-products h2{
		font-size: 2em;
		padding-bottom: 2vh;
	}
	/* .related-products img{
		 object-fit:cover;
		 height:45vh;
		 width:100%;"
	 } */
	 .other_category_images img {
    max-width: 100%;
    height: 100%;
		object-fit:cover;
}
	.footer-part1 #logo_1 {
        padding: 15% 0px 3px 22%;
	}
	.footer-part1 #logo_2 {
    padding: 0 0 0 20%;
	}
	.footer-part2 h3,.footer-part3 h3,.footer-part4 h3{
	  padding: 3% 0 0 0;
		font-size: 1.3em;
	}
	.footer-part2 ul,.footer-part3 ul{
	    margin-left: -12%;
	    font-size: 0.8em;
	}
	.footer span {
    padding: 2% 0 0 5%;
		font-size: 1em;
	}
	.footer-part4 ul{
	    margin-left: -12%;
	    line-height: 3em;
	    font-size: 0.8em;
	}
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1700px) {
	.w3-bar-block.w3-center .w3-bar-item {
		text-align: center;
		font-size: 30px;
	}
	.btn-menu {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 6px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:before,
	.btn-menu:after {
		position: absolute;
		content: '';
		width: 40px;
		height: 6px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.btn-menu:before {
		top: -15px;
		right: 0;
	}
	.btn-menu:after {
		top: 15px;
		right: 0;
	}
	.section .about {
		font-size: 4em;
	}
	.section .about .custom img {
	    padding-left: 25px;
    	width: 62%;
	}
	.section .about h5 {
		padding: 0 16% 0 16%;
		font-size: 13px;
		text-align: center;
	}
	.section .about .custom h5 {
		font-size: 19px;
	}
	.slider__inner {
		margin-top: 40px;
	}
	.section .product {
		padding: 5em 0 3em 0;
	}
	.product span {
		font-size: 1.5em;
	}
	.slider__image {
		width: 40%;
		height: 85%;
	}
	.slider {
		margin-top: 0%;
	}
	.contact span {
	  font-size: 2em;
	}
	.container.product-details {
    margin-top: 8%;
		width: 85%;
	}
	.product-details .text-block{
		top: 38%;
    left: 20%;
    transform: translate(-8%, 0);
	}
	.product-details .text-block h2{
		font-size: 1.5em;
	}
	.product-details .text-block p{
		font-size: 1.3em;
	}
	.product-details .text-block a{
     	font-size: 1.4em;
    	font-family: 'NeoSansPro-Regular';
	}
	.product-details .block-1 h2, .block-3 h2 {
    	font-size: 2.8em;
		margin: 5vh 0 2vh 0;
	}
 	.product-details .block-2 img{
	 	width: 105%;
	 	height: 58vh;
     	object-fit: cover;
	    box-shadow: 6px 13px 20px 10px #000;
	}
 	.product-details .scrollbar
	{
		height: 58vh;
     	padding: 0px 20px 0px 48px;
	}
	.product-details .img-responsive {
		height: 36vh;
		padding-bottom: 18px;
    	padding-right: 10px;
	}
	.product-details .block-4 img {
	  height: 50vh;
	}
	.related-productSection{
		width: 85% !important;
	}
	.related-products h2{
		font-size: 4em;
		padding-bottom: 2vh;
	}
	.related-products img{
		 object-fit:cover;
		 height:50vh;
		 width:100%;"
	 }
	.footer-part1 #logo_1 {
        padding: 15% 0px 3px 22%;
	}
	.footer-part1 #logo_2 {
    padding: 0 0 0 20%;
	}
	.footer-part2 h3,.footer-part3 h3,.footer-part4 h3{
	  padding: 16% 0 3% 0;
		font-size: 3em;
	}
	.footer-part2 ul,.footer-part3 ul{
	    margin-left: 0;
	    font-size: 2em;
	}
	.footer span {
    padding: 2% 0 0 5%;
		font-size: 1.5em;
	}
	.footer-part4 ul{
	    margin-left: 0;
	    line-height: 3em;
	    font-size: 2em;
	}

	.relative_product_details .block-2 img {
     	object-fit: cover;
	  	height: 66vh;
	}
	.container.relative_product_details {
    margin-top: 7%;
	}
	.product-details .block-1 p,
	.block-3 p {
    	font-size: 17px;
	  	line-height: 1.6em;
	}
	.relative_products img {
    	height: 30vh;
	    width: 85%;
	    object-fit: cover;
	}
	.relative_product_details .block-3 h2 {
    font-size: 40px;
	}
	h2.block-3-h2 {
    font-size: 20px !important;
	}
	.other_product h4 {
    font-size: 18px !important;
    color: #fff;
	}
	.other_product a {
	    font-size: 15px !important;
	    color: #fff;
	}
	.relative_products p {
	    font-size: 17px;
	}
	.row.relative_products h2{
      font-size: 37px;
	}
	.relative_product_details .block-4 h2 {
      font-size: 37px;
	}
	.relative_product_details .block-4 img {
	    height: 30vh;
	}
	.about #svg_about {
    	top: 50%;
	}

  	/***  Our Work  ***/
	.img1 img {
	    width: 22vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img2 img {
	    width: 18vh;
	    height: 16vh;
	    filter: grayscale(100%);
	}
	.img3 img {
	    width: 42vh;
	    height: 32vh;
	    filter: grayscale(100%);
	}
	.img4 img {
	    width: 20vh;
	    height: 14vh;
	    filter: grayscale(100%);
	    display: initial;
	}
	.img5 img {
	    width: 44vh;
	    height: 18vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.img6 img {
	    width: 44vh;
	    height: 39vh;
	    margin: 0px 0 0px 0px;
	    filter: grayscale(100%);
	}
	.lightzoom img {
	    background-repeat: no-repeat;
	    background-size: cover;
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	i.fa.fa-angle-double-left {
   	 	width: 20vh;
   	 	padding: 15% 0% 12% 22%;
	}
	i.fa.fa-angle-double-right {
	    width: 44vh;
        margin: 14px 0px 0px 0px;
	    background: #0f0;
	    padding: 3px 3px 7px 0px;
	    text-align: right;
	    font-family: FontAwesome;
	    font-weight: 10 !important;
	}
	.section .work .grid {
	    padding: .5em 0 0 5em;
	}

  	/*******************/
  	.container-fluid.relative_product_details {
    	width: 80%;
	}
  	.container-fluid.related-products {
    	width: 80%;
	}
  	.container-fluid.related-products img {
    	object-fit:cover;
    	height:43vh;
    	width:100%;
	}
	.col-xs-12.col-sm-12.col-md-4.other_product_bottom {
   		width: 33.333333%;
	}
	.relative_product_details {
    	margin: 10% 0px 5% 0px;
	}
	.category-name p {
	    font-size: 24px;
	}
  	.w3-center .w3-bar-item {
	    border-bottom: 2px solid #4646468c;
	    margin-left: 30% !important;
	    margin-right: 30% !important;
  	}
  	.related-products h2 {
        font-size: 2.8em;
	}
	 .other_category_images img {
    max-width: 100%;
    height: 100%;
		object-fit:cover;
}
	.footer-part1 #logo_1 {
        padding: 15% 0px 3px 22%;
	}
	.footer-part1 #logo_2 {
    padding: 0 0 0 20%;
	}
	.footer-part2 h3,.footer-part3 h3,.footer-part4 h3{
	  padding: 13% 0 3% 0;
		font-size: 1.5em;
	}
	.footer-part2 ul, .footer-part3 ul {
	    margin-left: -9%;
	    font-size: 1.2em;
	}
	.footer span {
    padding: 2% 0 0 5%;
		font-size: 1em;
	}
	.footer-part4 ul {
	    margin-left: -9%;
	    line-height: 3em;
	    font-size: 1.2em;
	}

}
