html{
  overflow:hidden;
}
#fullpage {
  height: 100vh;
  overflow: hidden;
  /* background: repeating-linear-gradient(90deg, rgb(1, 162, 243), rgb(1, 156, 243) 361px, rgb(2, 163, 244) 0px, rgb(7, 17, 23) 362px); */
}
#fullpage section {
  height: 100vh;
}
section .home{
  background: linear-gradient(rgb(0, 69, 135),rgb(1, 190, 246),rgb(0, 76, 140));
  display: flex;
}
/*Loader*/
#loader{
width: 100vw;
height: 0;
background-color: #242524;
position: absolute;
z-index: 250;
/* -webkit-text-stroke: 1px black; */
/* overflow-x: hidden; */
}
#preloader {
   position:relative;
   width: 20%;
   height: 100%;
   top: 45%;
   margin: 0 auto;

   /* overflow-y: hidden; */
  }
 h1{
   font-size: 8em;
   transform: translate(35%,75%);
   /* font-family: 'NeoSansPro-Bold'; */
   -webkit-text-stroke: 2px #fff;
   -webkit-text-fill-color: transparent;
  }
 /* ====  Page layout ==== */
.page-wrap{
/* overflow-x: hidden; */
height: ;
}
.page-wrap .load-caar img{
width: 50vh;
}
.home{
height: 100vh;
position: relative;
/* background-color: #F2F6F2; */
display: flex;
justify-content: center;
align-items: center;
background-color: transparent;
overflow: hidden;
}
.home:before{
position: absolute;
width: 100%;
height: 100%;
z-index: 10;
top: 0;
left: 0;
content: '';
/* background-color: #000000cc; */
}
.home:after{
position: absolute;
width: 0;
height: 100%;
z-index: 10;
top: 0;
right: 0;
content: '';
/* background-color: #00000050; */
}
.home.divide:before{
transition: all .5s .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
width: 0;
}
.home.divide:after{
transition: all .5s .2s cubic-bezier(0.645, 0.045, 0.355, 1.000);
width: 0;
}
.text-wrap{
width: 100%;
height: 100%;
text-align: center;
}

@media screen and (max-width:1024px){
html{
font-size: 92.5%;
}
}
@media screen and (max-width:640px){
html{
font-size: 86%;
}
p{
font-size: 1.1rem;
}
}
/* Navbar style */
.navbar{
  height: 11vh;
  background: transparent;
  border:transparent;
  margin-bottom: 0vh;
}
.navbar-default .navbar-nav{
  background-color: transparent !important;
  border: transparent !important;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 5s;
  animation-duration: infinite;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navbar .navbar-header img{
  height: 16vh;
  padding: 2em 0 0 5em;
  animation-name: move;
  animation-duration: 5s;
  animation-delay: 2s;
  position: fixed;
}
/* .navbar .navbar-header{

} */
@keyframes move {
  from{
    left: 50vh;
  }
  to{
    left: 0;
  }
}
.navbar .navbar-nav{
  float: right;
  color: #fff !important;
}
.navbar .navbar-nav>li{
    float: left;
}
.navbar .navbar-nav>li>a{
  font-weight: bold;
  font-family:'NeoSansPro-Bold';
  font-size: 1em;
  margin: 5vh 8vh 0 0;
  color: #fff !important;
}
.navbar .navbar-nav .w3-transparent{
  padding: 1.7em 1.7em 0 0;
}
.navbar .navbar-nav .w3-transparent:hover{
  background: transparent !important;
}
.w3-black, .w3-hover-black:hover {
    color: #fff !important;
    background-color: transparent !important;
}
.w3-center {
    text-align: center!important;
    margin-top: 15vh;
}
.w3-center .w3-bar-item{
  border-bottom: 1px solid #fff2;
  margin-left: 30% !important;
  margin-right: 30% !important;
}
.w3-bar-block .w3-bar-item{
  font-family: 'NeoSansPro-Medium' !important;
  padding: 1.8em 0 0.5em 0 !important;
  letter-spacing: .5em;
  width: auto;
}
.w3-bar-block .w3-bar-item:hover {
    text-decoration: none !important;
    color: grey !important;
    background: transparent !important;
}
.w3-sidebar{
  background-image: url("images/bugatti.png") !important;
  box-shadow: inset 100vh 100vh 0 20px #000000ba;
  background: black;
  overflow: visible;
  top: 0;
}
.w3-sidebar img{
  height: 6em;
  padding-top: 2em;
}
.home-slider{
  /* height: 100vh; */
  width: 100%;
  text-align: center;
}

.home-slider .p1-note1{
  font-family: 'NeoSansPro-LightItalic';
  padding: 25vh 0 20vh 0;
  color: #fff;
  font-size: 2.5em;
  weight:1px;
  /* animation: mymove 5s 5s; */
}
.home-slider .p1-note1 img{
  width: 20%;
  margin-top: 20vh;
}
/* @keyframes mymove {
    from {left: 300px;}
    to {left: 0px;}
} */
/* @keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
} */
.home-slider .caar img{
  width: 80%;
}
@media screen and (max-width:468px){
  .navbar .navbar-header img{
    height: 16vh;
    padding: 2vh 0 0 0;
  }
  .navbar .navbar-nav>li{
      display: none;
  }
  .navbar .navbar-nav .w3-transparent{
    padding: 0;
    margin: -11vh 7vh 0 0;
  }
  .w3-xlarge {
    font-size: 30px!important;
  }
}

/* About Us style */
section .about{
  position: relative;
  background: repeating-linear-gradient(135deg, rgba(55, 55, 55, 0.2), rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.3) 2px, rgba(0, 0, 0, 0.3) 10px), url('images/about-bg.jpg');
  box-shadow: inset 100vh 100vh 0 20px #000000ba;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  color: #fff;
  padding: 23vh 5vh 0 0;
  text-align: center;
  font-size: 3em;
  z-index: -1;
}
.about svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-58%,-52%);
  width: 100%;
  height: 100%;
}
.about svg #svg-about{
  font-size: 8em;
  fill: rgba(0,0,0,.1);
  stroke-width: 1px;
  stroke: #00ffff35;
  font-family: 'NeoSansPro-BoldItalic';
  font-style: italic;
}
section .about span{
  font-family: 'NeoSansPro-BoldItalic';
  filter: none !important;
  font-style: italic;
  font-size: 1.5em;
}
section .about h5{
  color: #ffffff80;
  font-family: 'NeoSansPro-Light';
  letter-spacing: .5px;
  line-height: 1.5;
  padding: 0 33% 0 32%;
}
section .about .custom{
  padding: 5% 0 0 15%;
}
section .about .custom h5{
  color: #00FFFF;
  padding: 0;
  font-family: 'NeoSansPro-Light';
  letter-spacing: 0.2px;
}
section .about .custom img{
  height: 2em;
  background: transparent;
}

/* Our Works style */
section .work{
  background: #151515;
  height: 100vh;
  top: 0;
  left: 0;
  color: #fff;
  padding: 3em 0 0 0;
  text-align: center;
  font-size: 3em;
  position: relative;
}
.work span{
  font-family: 'NeoSansPro-BoldItalic';
  font-style: italic;
  font-size: 1.5em;
}
.work svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%,-57%);
  width: 100%;
  height: 100%;
}
.work svg #svg-work{
  font-size: 8em;
  fill: rgba(0,0,0,.1);
  stroke-width: 1px;
  stroke: #0b3a0b;
  font-family: 'NeoSansPro-BoldItalic';
  font-style: italic;
}
section .work .grid{
  padding: .5em 0 0 5em;
}
section .work .grid .col-xs-4{
  padding-right: 0px !important;
  margin-right: -5px !important;
  margin-left: -10px !important;
  padding-left: 0px !important;
}
section .work .grid .part1,.part2,.part3{
  height: 68.5vh;
  background: transparent;
  border: 0px solid transparent;
}
section .work .grid .part2 .w3-first{
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width:100%;
  height:100%;
}
section .work .grid .part2 .w3-first img{
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width:100%;
  height:100%;
}
section .work .grid .part3 .w3-first img{
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width:10%;
  height:10%;
}
.w3-first img{
  margin-top: 1.5vh;
}

/* PRODUCTS style */
section .product{
  background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.3) 2px, rgba(0, 0, 0, 0.3) 10px), url('images/grey.png');
  height: 100vh;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2em 0 2em 0;
  text-align: center;
  font-size: 3em;
  position: relative;
}
.product span{
  font-family: 'NeoSansPro-BoldItalic';
  font-size: 1.5em;
}
.product svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-62%,-60%);
  width: 120%;
  height: 100%;
}
.product svg #svg-product{
  font-size: 8em;
  fill: rgba(0,0,0,.1);
  stroke-width: 1px;
  stroke: #e91ed2a6;
  font-family: 'NeoSansPro-BoldItalic';
  font-style: italic;
}
*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.slider {
  max-width: 90%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
  padding: 0 25px;
}
.slider__inner {
  height: 100%;
  width: 100%;
}
.slider__button {
  z-index: 9;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 25%;
  /* margin-top: -10px; */
  background: transparent;
  color: #CA07AD;
  opacity: 0.4;
  cursor: pointer;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* box-shadow: -1px 1px 5px 0px #000;
  -webkit-box-shadow: -1px 1px 5px 0px #000;
  -moz-box-shadow: -1px 1px 5px 0px #000; */
}
.slider__button .fas {
  display: inline-block;
  height: 100%;
  line-height: 20px;
  font-size: 50px;
}
.slider__button:hover {
  opacity: 1;
  text-decoration: none;
}
.slider__button--next {
  right: 2px;
}
.slider__button--prev {
  left: 2px;
}
.slider__image {
  display: block;
  width: 40%;
  height: 60%;
  position: absolute;
  border: solid 1px #000;
  top: 30px;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
}

.image--1 {
  left: 45%;
  margin-left: -150px;
  opacity: 1;
  z-index: 50;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  transition: filter 0ms, transform 300ms, left 400ms ease-in-out, right 400ms ease-in;
  -webkit-transition: filter 0ms, transform 300ms, left 400ms ease-in-out, right 400ms ease-in;
  -moz-transition: filter 0ms, transform 300ms, left 400ms ease-in-out, right 400ms ease-in;
}
.image--2 {
  left: 25%;
  margin-left: -100px;
  opacity: 1;
  z-index: 40;
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
}
.image--3 {
  left: 15%;
  margin-left: -190px;
  opacity: 1;
  z-index: 30;
  transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -webkit-filter: blur(7px);
  filter: blur(7px);
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
}
.image--4 {
  right: 15%;
  margin-right: -180px;
  opacity: 1;
  z-index: 10;
  transform: scale(0.6);
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -webkit-filter: blur(7px);
  filter: blur(7px);
  transition: ease-in-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
}
.image--5 {
  right: 25%;
  margin-right: -150px;
  opacity: 1;
  z-index: 20;
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
}

@media (max-width: 580px) {
  .slider {
    height: 200px;
  }
  .slider__image {
    width: 200px;
    height: 135px;
  }

  .image--2, .image--3 {
    left: 50%;
  }
  .image--4, .image--5 {
    right: 50%;
  }
  .image--1 {
    margin-left: -100px;
  }
  .image--2 {
    margin-left: -130px;
  }
  .image--3 {
    margin-left: -160px;
  }
  .image--4 {
    margin-right: -160px;
  }
  .image--5 {
    margin-right: -130px;
  }
}

/* MAP style */
section .map{
  background: #041305;
  height: 100vh;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2em 0 2em 0;
  text-align: center;
}
.map span{
  font-family: 'NeoSansPro-BoldItalic';
  font-size: 3em;
}
.map .green-map img{
  height: 80vh;
}
/* CONTACT style */
section .contact{
  background: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.3) 2px, rgba(0, 0, 0, 0.3) 10px), url('images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 100vh 100vh 0 20px #000000ba;
  height: 100vh;
  top: 0;
  left: 0;
  color: #fff;
  padding: 2em 0 2em 0;
  text-align: center;
  position: relative;
}
.contact span{
  font-family: 'NeoSansPro-BoldItalic';
  font-style: italic;
  font-size: 3em;
  margin-top: 2vh;
  line-height: 35vh;
}
.contact svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-52%,-62%);
  width: 120%;
  height: 100%;
}
.contact svg #svg-contact{
  font-size: 22.5em;
  fill: rgba(0,0,0,.1);
  stroke-width: 1px;
  stroke: #ffff0075;
  font-family: 'NeoSansPro-BoldItalic';
  font-style: italic;
}
.enquiry{
  margin: -5% 20%;
}
.name{
  font-family: 'NeoSansPro';
  letter-spacing: 0.2em;
  border: 1px solid #0ff;
  padding: 3vh 15vh 3vh 15vh;
  border-radius: 10px;
  margin: 2vh 5vh;
  background: transparent;
  text-align: center;
  color: #cde013;
  font-size: 2vh;
}
.location{
  font-family: 'NeoSansPro';
  letter-spacing: 0.2em;
  border: 1px solid #0ff;
  padding: 3vh 15vh 3vh 15vh;
  border-radius: 10px;
  margin: 2vh 22vh;
  background: transparent;
  text-align: center;
  color: #cde013;
  font-size: 2vh;
}
.email{
  font-family: 'NeoSansPro';
  letter-spacing: 0.2em;
  border: 1px solid #0ff;
  padding: 3vh 15vh 3vh 15vh;
  border-radius: 10px;
  margin: 2vh 5vh;
  background: transparent;
  text-align: center;
  color: #cde013;
  font-size: 2vh;
}
.phone{
  font-family: 'NeoSansPro';
  letter-spacing: 0.2em;
  border: 1px solid #0ff;
  padding: 3vh 15vh 3vh 15vh;
  border-radius: 10px;
  margin: 2vh 22vh;
  background: transparent;
  text-align: center;
  color: #cde013;
  font-size: 2vh;
}
.message{
  font-family: 'NeoSansPro';
  letter-spacing: 0.2em;
  border: 1px solid #0ff;
  padding: 2vh 45vh 30vh 45vh;
  border-radius: 10px;
  margin: 0 5vh;
  background: transparent;
  text-align: center;
  color: #cde013;
  font-size: 2vh;
}

/*footer*/
section .footer{
  top: 0;
  left: 0;
  height: 100vh;
  text-align: left;
  background: #25232330;
}
.footer-part1 #logo_1{
  width: 100%;
  padding: 5% 0 0 5%;
}
.footer-part1 #logo_2{
  width: 100%;
  padding: 0 0 0 20%;
}
.footer-part2 ul,.footer-part3 ul,.footer-part4 ul{
    margin-left: -12%;
    color: #00000099;
    line-height: 3em;
    font-family: 'NeoSansPro-Light';
    letter-spacing: 0.2em;
    font-size: 12px;
}
.footer-part2 h3,.footer-part3 h3,.footer-part4 h3{
  color: #000;
  padding: 12% 0 2% 0;
  font-family: 'NeoSansPro';
}
.footer span{
  color: #363635;
  letter-spacing: 0.2em;
  font-family: 'NeoSansPro';
  padding: 2% 0 0 5%;
}
.footer hr{
  border: 2px solid #00000099;
}


/*****************************************************************************************/
/* Products page*/
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.products_block{
  background: repeating-linear-gradient(135deg, rgb(14, 14, 14), rgba(0, 0, 0, 0.98) 2px, rgb(0, 0, 0) 2px, rgb(0, 0, 0) 10px);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.footer-block{
  background:#d6d6d6;
  left: 0;
  padding: 0 !important;
  margin: 5px auto;
}

.product-details{
  margin: 6% 10%;
}
.product-details .block-1 h3,.block-3 h3{
  color: #fff;
  font-family: 'NeoSansPro-Regular';
}
.product-details .block-1 p,.block-3 p{
  color: #fff8;
  font-family: 'NeoSansPro-Light';
}

.product-details .block-4 img{
  width: 100%;
  height: 50vh;
}

/*product details*/
.relative_product_details{
  margin: 6% 10%;
}

.relative_product_details .block-2 img{
  width: 100%;
  height: 70vh;
}
.relative_product_details .block-3{
  padding: 0 5%;
}
.relative_product_details .block-3 h2{
  color: #fff;
  font-family: 'NeoSansPro-light';
}
.relative_product_details .block-4 img{
  width: 100%;
  height: 50vh;
}
.relative_product_details .block-4 h2{
  padding: 3% 0 2% 0;
  color: #fff;
  font-family: 'NeoSansPro-Regular';
}
.relative_products h2,h4,a{
  padding: 5% 0 2% 1%;
  color: #fff;
  font-family: 'NeoSansPro-Regular';
}
.relative_products p{
  color: #ffffff80;
  font-family: 'NeoSansPro-light';
}
.relative_products img{
  padding: 5% 0;
  width: 100%;
  height: 35vh;
}
