body {
  background-image: repeating-radial-gradient(circle, #3a3939 0px, #383a38, #3c3b3c 60px, black);
  height: 100vh;
  font-family: 'Source Serif Pro', serif;
  font-family: 'Bai Jamjuree', sans-serif;
  position: relative;
  /*background-image: url("../images/bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;*/
}

/*#about {
  background-image: repeating-radial-gradient(circle, #3a3939 0px, #383a38, #3c3b3c 60px, black);
}*/

.about-bg {
  background-image: url("../images/about.png");
  position: relative;
  background-attachment: fixed;
  background-position: 115px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 500px;
}

@media only screen and ( max-device-width: 411px) {
  .about-bg {
    background-position: 8px 0px;
  }
}



/*.product-bg {
  background: url("../images/bg.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
}*/

@media only screen and ( max-device-width: 411px) {
  .product-bg {
    background: url("../images/bg.png") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

/*.testimonial-bg{
  background: repeating-radial-gradient(circle, #3a3939 0px, #383a38, #3c3b3c 60px, black) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
}*/

@media only screen and ( max-device-width: 411px) {
  .testimonial-bg {
    background: repeating-radial-gradient(circle, #3a3939 0px, #383a38, #3c3b3c 60px, black) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

.scrollbar{
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home-product-section {
  height: 350px;
}

#banner {
  height:350px;
}

#style-1::-webkit-scrollbar-track
{
	
	border-radius: 5px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar
{
	width: 4px;
	background-color: transparent;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #b48a34;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: repeating-radial-gradient(circle, #3a3939 0px, #383a38, #3c3b3c 60px, black);
}

.sticky+.content {
  padding-top: 102px;
}

.sticky .navbar-brand {
  width: 15%;
  height: 15%;
}

.sticky .dot {
  height: 5px;
  width: 5px;
  position: absolute;
  top: 40px !important;
  right: 35px !important;
  background-color: #AC7E36;
  border-radius: 50%;
  display: inline-block;
}

.dot {
  height: 5px;
  width: 5px;
  position: absolute;
  top: 55px;
  right: 35px;
  background-color: #AC7E36;
  border-radius: 50%;
  display: inline-block;
}

.sticky .navbar-brand img {
  width: 51.5%;
  height: 35%;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.badge {
  position: relative;
  top: -6px;
  font-size: 12px;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  color: #fff;
  letter-spacing: 1.2px;
  font-size: 46px;
}

h2 {
  font-family: 'Source Serif Pro', serif;
  color: #fff;
  letter-spacing: 1.8px;
  font-size: 36px;
  text-align: center;
}

p {
  color: #fff;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-size: 14px;
}

.btn-section {
  text-align: center;
  padding: 8% 0px;
}

.primary-btn-sm {
  background: #b48a34;
  color: #000;
  padding: 6px 15px;
  font-size: 12px;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  border-color: #b48a34;
  border-radius: 0px;
  font-weight: 600;
  margin: 5px 0px;
}

.sec-btn-sm {
  background: transparent;
  color: #b1b0b0;
  padding: 6px 15px;
  font-size: 12px;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  border-color: transparent;
  border-radius: 0px;
  font-weight: 600;
  margin: 5px 0px;
}

.primary-btn {
  background: transparent;
  color: #b1b0b0;
  padding: 5px 15px;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border-color: #b48a34;
  cursor: pointer;
  outline: none;
}

.primary-btn a {
  color: #b1b0b0;
  text-decoration: none;
}

.primary-btn:focus {
  outline: none;
}

.primary-button {
  background: #b48a34;
  color: #000;
  padding: 0px;
  font-size: 12px;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  border-color: #b48a34;
  border-radius: 0px;
  font-weight: 600;
  width: 100%;
  margin: 5px 0px;
}

.primary-button a {
  color: #000;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 10px 15px;
}

.align-end {
  text-align: right;
}

/*Header*/

.header-section .navbar {
  padding: 0.5rem 1rem;
  font-family: 'Bai Jamjuree', sans-serif;
}

.header-section .navbar-dark .navbar-nav .nav-link, .header-section .navbar-dark .navbar-nav .active>.nav-link {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 22px;
  padding: 4px 5px;
}

.header-section .navbar-dark .navbar-nav .nav-link {
  color: #b1b0b0;
}

.header-section .navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
  border-bottom: 1px solid #b48a34;
}

.header-section .navbar-dark .navbar-nav .nav-item.active .nav-link {
  color: #fff;
  border-bottom: 1px solid #b48a34;
}

.svg-icon img {
  width: 16px;
  height: 16px;
}

.header-section .navbar-dark .navbar-nav .svg-icon .nav-link, .header-section .navbar-dark .navbar-nav .svg-icon .active>.nav-link {
  margin: 0 15px;
}

.header-section .navbar-dark .navbar-nav .svg-icon:last-child .nav-link {
  margin: 0 20px 0 12px;
}

.navbar-dark .navbar-toggler {
  outline: none;
}

body>.wrapper {
  padding: 7% 0px 0
}

body.scroll .wrapper {
  padding: 5% 0px 0;
}

.products{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 950px;
}

.wrapper-section {
  /* height: calc(100vh - 50px);
  margin-top: 50px;
  display: -webkit-box; */
  padding: 25px 10px;
  padding-bottom: 80px;
}

.navbar-collapse.collapse.show .navbar-nav {
  background-color: #000;
  padding: 10px;
}

@media only screen and ( max-device-width: 360px) {
  .wrapper-section {
    /*  height: calc(100vh - 50px);*/
    padding: 40px 10px;
  }
}

@media only screen and ( max-device-width: 411px) {
  .wrapper-section {
    /*  height: calc(100vh - 50px);*/
    padding: 75px 10px;
    padding-bottom: 50px;
  }
}

@media only screen and ( max-device-width: 640px) {
  .header-section .navbar-dark .navbar-nav .nav-link, .header-section .navbar-dark .navbar-nav .active>.nav-link {
    margin: 0 12px;
    padding: 4px 4px;
  }
}

/* Turn text*/

#turn-around {
  -ms-writing-mode: tb-rl;
  /* old syntax, IE */
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -ms-transform: rotate(180deg);
  max-height: 100vh;
  padding: 0.5em;
  text-align: right;
  margin: 25px;
}

#turn-around {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: fixed;
  left: 0px;
  top: 25%;
  height: 100vh;
}

#turn-around ol {
  display: inline;
  padding: 0;
}

#turn-around li {
  display: inline;
  padding: 1em 0em;
}

#turn-around li a {
  color: #b1b0b0;
  font-size: 12px;
  text-decoration: none;
}

.turn-straight {}

@media only screen and ( max-device-width: 640px) {
  #turn-around {
    height: max-content;
    margin: 5px;
  }
  #turn-around li {
    display: inline;
    padding: 0.5em 0em;
  }
}

@media only screen and ( max-device-width: 812px) {
  #turn-around {
    height: max-content;
    margin: 5px 0px;
  }
  #turn-around li {
    display: inline;
    padding: 0.5em 0em;
  }
}

/* Tab Link*/

.tab-link ul {
  padding-left: 3em;
  margin-bottom: 0px;
  line-height: 85px;
  position: absolute;
  top: 280px;
  left: 0px;
}

.tab-link li a {
  font-size: 15px;
  color: #b1b0b0;
  text-decoration: none;
}

.track-order .tab-link ul {
  line-height: 55px;
  position: absolute;
  top: 37%;
  left: 0px;
}
/* Carousel section*/
.home-carousel {
  width: 70%;
  margin-left: 10%;
}
.home-carousel .carousel-item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.home-carousel .carousel-control-next, .home-carousel .carousel-control-prev {
  align-items: flex-end;
  width: 100%;
}

.home-carousel .carousel-control-prev {
  left: -25px;
  opacity: inherit;
}

.home-carousel .carousel-control-next {
  right: -25px;
  opacity: inherit;
}

.home-banner-button {
  margin-left: 45%;
}

.home-banner-button a{
  color: transparent;
  text-decoration: transparent;
  background-color: transparent;
}

.arrow-style {
  border: 1px solid #b48a34;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 8px;
  margin: -15px;
  margin-top: 33%;
}


/*Product section*/
.col{
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 5px;
}

.product-carousel {
  padding: 3% 6% 0% 4%;
  text-align: center;
}

.product-carousel a:hover {
  text-decoration: none;
}

.product-carousel .carousel-control-prev {
  width: 34px;
  margin-top: -80px;
}

.product-carousel .carousel-control-next {
  right: 28px;
  width: 34px;
  margin-top: -80px;
}

.product-section .product-title {
  text-align: center;
}

.product-section .product-content {
  padding: 5px 35px;
}

.product-card {
  margin: 10px;
}

.product-card a:hover {
  text-decoration: none;
}

.product-content {
  padding: 15px 35px;
}

.product-title {
  font-size: 17px;
  color: #b48a34;
  font-family: 'Source Serif Pro', serif;
  letter-spacing: 0.9px;
}

.product-details {
  color: #fff;
  font-size: 12px;
}

.tab-carousel {
  padding: 15px 0 0;
}

.tab-carousel .carousel-control-prev .arrow-style {
  top: -20px;
  position: relative;
  right: 50px;
}

.tab-carousel .carousel-control-next .arrow-style {
  top: -20px;
  position: relative;
  right: -30px;
}

.tab-carousel .product-section {
  padding: 10px 0px 0px;
}

.content {
  width: 80%;
}

.content .arrow-style {
  margin: 2px 2px;
}


/*testimonal */

.testimonial-section {
  padding: 2%;
}

.testimonial-section .wrapper-section {
  height: auto;
}

.testimonial-carousel {
  padding: 5%;
}

.testimonial-carousel p {
  text-align: left;
  margin-left: 2%;
}

.testimonial-carousel .carousel-control-prev {
  width: 34px;
  left: -50px;
  margin-top: -80px;
}

.testimonial-carousel .carousel-control-next {
  right: -35px;
  width: 34px;
  margin-top: -80px;
}

.testimonial-section h3 {
  font-size: 14px;
  color: #fff;
  margin-left: 2%;
}

@media only screen and ( max-device-width: 450px) {
  .testimonial-carousel {
    padding: 8%;
  }
  .testimonial-carousel .carousel-control-prev {
    left: -10px;
  }
  .testimonial-carousel .carousel-control-next {
    right: -10px;
  }
}

/* Form Control*/

form {
  margin-bottom: 30px;
}

.input-group .form-control, .input-group-text {
  background-color: transparent;
  border: 1px solid #b48a34;
  padding: 10px;
  border-radius: 0px;
}

.input-group .form-control {
  font-size: 12px;
  color: #b1b0b0;
}

.input-group-text {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  cursor: pointer;
}

label {
  color: #fff;
  font-size: 12px;
}

.form-section .form-control {
  background-color: transparent;
  border: 1px solid #b48a34;
  border-radius: 0px;
  color:white;
}

.form-section .form-group {
  margin-bottom: 0.5rem;
}

.form-section {
  padding: 1% 5%;
}

.form-section h2 {
  text-align: left;
  font-size: 28px;
  margin-bottom: 15px;
}

.info {
  text-align: center;
  margin: 8px 0;
  font-size: 12px;
  color: #fff;
}

.info a {
  font-size: 12px;
  color: #fff;
  text-decoration: underline;
}

@media only screen and ( max-device-width: 450px) {
  .mb-formpadding {
    padding: 1% 1% 1% 5%;
  }
}

/*Checkout Form*/

.checkout-form .form-control {
  background-color: transparent;
  border-radius: 0px;
  border-color: #b1b0b0;
  color: #fff;
}

.checkout-form label {
  color: #b1b0b0;
}

.checkout-form h2 {
  color: #fff;
  font-size: 12px;
  text-align: left;
  margin: 0 0 10px;
}

.checkout-form select {
  border-radius: 0px !important;
}

.checkout-form .breadcrumb {
  background-color: transparent;
  padding: 10px 0;
  margin-bottom: 0px;
}

.checkout-form .breadcrumb li {
  font-size: 14px;
  color: #b1b0b0;
}

.checkout-form .breadcrumb .breadcrumb-item a {
  color: #b1b0b0;
}

.checkout-form .breadcrumb .breadcrumb-item.active {
  color: #fff;
}

.checkout-form .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

.checkout-details {
  color: #fff;
  font-size: 12px;
  padding: 10px 0;
}

.checkout-details a {
  color: #b48a34;
  padding: 0 10px;
}

.checkout-details-section {
  color: #b1b0b0;
  font-size: 11px;
  margin-bottom: 30px;
}

.margin-auto {
  margin: 0 16%;
}

.td-header {
  color: #b1b0b0;
  font-size: 12px;
  padding: 12px 0;
  border-bottom: 1px solid #fff;
}

.td-body {
  color: #b1b0b0;
  font-size: 12px;
  padding: 12px 0;
}

.td-body .row {
  padding: 5px 0px;
}

/*Terms & Conditions */

.terms-text {
  color: #a7a7a7;
  font-size: 13px;
}

.terms-list ol {
  color: #fff;
  padding-left: 15px;
}

.terms-list h4 {
  font-size: 14px;
  color: #fff;
  margin: 5px 0;
}

.terms-list h3 {
  font-size: 14px;
  color: #fff;
  margin: 5px 0;
  text-transform: uppercase;
}

.terms-list p {
  margin: 5px 0 15px;
  line-height: 20px;
  color: #a7a7a7;
}

/* cart*/

.product-image {
  float: left;
  width: 20%;
}

.shopping-cart .product-details {
  float: left;
  width: 32%;
}

.product-price {
  float: left;
  width: 12%;
  color: #fff;
  font-size: 12px;
}

.product-quantity {
  float: left;
  width: 15%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
  color: #fff;
  font-size: 12px;
}

/* This is used as the traditional .clearfix class */

.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before, .group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

.shopping-cart {
  padding: 20px 20px;
  width: 100%;
}

.shopping-cart .product-title {
  font-size: 12px;
  color: #fff;
}

.shopping-cart .product-title a {
  font-size: 1rem;
  color: #fff;
  text-decoration: underline;
}

.shopping-cart .input-group .form-control {
  text-align: center;
}

.shopping-cart .input-group .form-control, .shopping-cart .input-group-text {
  border: 1px solid transparent;
}

.shopping-cart .input-group {
  border: 1px solid #b1b0b0;
  padding: 0 6px;
}

.shopping-cart .svg-icon img {
  width: 15px;
  height: 15px;
  padding-right: 3px;
}

.checkout-btn {
  text-align: right;
}

.checkout-btn .primary-button {
  width: 32%;
}

.card-section {
  padding-left: 10px;
}

.card-section ul {
  margin-bottom: 3px;
}

.card-section ul li {
  display: inline-block;
}

.card-section ul li img {
  margin: 0 3px;
}

.product-description {
  font-style: italic;
  color: #fff;
  font-size: 12px;
}

@media only screen and ( max-device-width: 731px) {
  .shopping-cart .input-group {
    padding: 0 0px;
  }
  .shopping-cart .input-group-text {
    letter-spacing: 1px;
  }
  .shopping-cart .input-group .form-control, .shopping-cart .input-group-text {
    padding: 5px;
  }
}

/* Column headers */

.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */

.product {
  margin-bottom: 0px;
  padding: 20px;
  border-bottom: 1px solid #b1b0b0;
  border-left: 1px solid #b1b0b0;
  border-right: 1px solid #b1b0b0;
}

.product .product-image {
  text-align: center;
}

.product .product-image img {
  width: 100px;
}

.product .product-details .product-title {
  margin-right: 20px;
}

.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}

.product .product-quantity input {
  width: 40px;
}

.product .remove-product {
  border: 0;
  padding: 4px 20px;
  background-color: transparent;
  text-decoration: underline;
  font-size: 12px;
  color: #fff;
  outline: none;
}

/* Totals section */

.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin: 15px 0 10px;
}

.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
  color: #fff;
  font-size: 12px;
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

.container-checkbox {
  padding-left: 6px;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #b48a34;
}

/* On mouse-over, add a grey background color */

.container-checkbox:hover input~.checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */

.container-checkbox input:checked~.checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.container-checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container-checkbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid #b48a34;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Make adjustments for tablet */

@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 0px;
    border-top: 1px solid #eee;
  }
  .column-labels {
    display: none;
  }
  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  .product-price {
    clear: both;
    width: 70px;
  }
  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }
  .product-quantity:before {
    content: 'x';
    display: none;
  }
  .product-removal {
    width: auto;
  }
  .product-line-price {
    float: right;
    width: 70px;
  }
}

/* Make more adjustments for phone */

@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}

/*profile form*/

.profile-form h3 {
  font-size: 14px;
  color: #b48a34;
}

.text-field {
  font-size: 12px;
  color: #b1b0b0;
}

.profile-form label {
  margin-bottom: 0px;
}

.profile-form .field {
  margin-bottom: 15px;
}

/*Timeline */

.timeline-section {
  width: 100%;
  position: relative;
  margin: 10px 0 30px 0px;
}

.timeline-section:before {
  content: '';
  position: absolute;
  top: 5px;
  left: calc(0% + 5px);
  bottom: -5px;
  width: 1px;
  background: #b48a34;
}

.timeline-section .timeline-content {
  clear: both;
  text-align: left;
  position: relative;
}

.timeline-section .timeline-content:before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
}

.timeline-section .content-item {
  float: left;
  width: 3%;
  padding-right: 0px;
  text-align: right;
  line-height: 18px;
  font-size: 1.2rem;
  position: relative;
  left: 1px;
  top: 5px;
}

.timeline-section .content-body {
  margin: 0 0 5px;
  float: right;
  width: 96%;
  padding-left: 15px;
}

.timeline-section .content-item .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #b48a34;
  background-color: #252425;
}

/*progrss */

.progressbar {
  counter-reset: step;
  padding: 10px 0 20px;
  margin-left: -64px;
}

.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
}

.progressbar li:before {
  content: counter(step);
  /*counter-increment: step;*/
  width: 10px;
  height: 10px;
  line-height: 30px;
  border: 5px solid #000;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #000;
  content: '';
  top: 10px;
  position: relative;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #fff;
}

.progressbar li.active:before {
  border-color: #b48a34;
}

.progressbar li.active+li:after {
  background-color: #b48a34;
}

/*Add Cart*/

.add-cart .input-group {
  width: 25%;
  text-align: center;
}

.add-cart .input-group .form-control, .add-cart .input-group-text {
  border: 1px solid transparent;
}

.add-cart h1 {
  font-size: 32px;
  margin-bottom: 0px;
  line-height: 24px;
}

.add-cart p {
  margin-bottom: 0px;
}

.add-cart .info-text {
  font-size: 11px;
  color: #b1b0b0;
  line-height: 20px;
}

.add-cart .amount {
  color: #b48a34;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
}

@media only screen and ( max-device-width: 411px) {
  .add-cart .input-group {
    width: 44%;
  }
  .add-cart .input-group .form-control {
    text-align: center;
  }
}

/*Tab*/

.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  width: 100%;
  border-width: 0;
}

.nav-stacked>li+li {
  margin-top: 0px;
  width: 100%;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  background-color: transparent;
  color: #FFFFFF;
  z-index: 99;
  transition: all 0.5s ease 0s;
}

.nav-tabs>li.active>a {
  color: #FFFFFF;
  z-index: 100;
  border-bottom: 1px solid #b48a34;
}

.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #FFFFFF;
  background-color: #2962FF;
  box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
  transition: all 0.5s ease 0s;
}

.nav-tabs li .active {
  color: #FFFFFF;
  z-index: 100;
  border-bottom: 1px solid #b48a34;
}

.nav-tabs li a img {
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  padding: 15px;
}

.nav-stacked>li {
  width: 100%;
}

/* Order */

.order-title-section {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.order-title-section h2 {
  margin-bottom: 30px;
  margin-top: 20px;
}

.order-title-section p {
  margin-bottom: 30px;
}

.order-product {
  margin-bottom: 20px;
}

@media only screen and ( max-device-width: 411px) {
  .order-title-section {
    width: 100%;
  }
}

/*Footer */

.copyright p{
  color: #b1b0b0;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-size: 12px;
}

footer {
  background-color: #000;
  padding: 2% 0;
  position: relative;
}

.footer-section ul {
  margin-bottom: 0px;
}

.footer-section h3 {
  font-size: 12px;
  text-transform: uppercase;
  color: #b48a34;
  letter-spacing: 1px;
  font-weight: 500;
}

.footer-section .input-group {
  width: 52%;
}

.footer-section .list-section li {
  font-size: 11.5px;
  color: #b48a34;
  line-height: 20px;
}

.footer-section .list-section li a {
  color: #b48a34;
  text-decoration: none;
}

.social-media {
  padding: 25px 0px 0 0;
}

.social-media li {
  display: inline-block;
  color: #a5a4a4;
  font-size: 12px;
  padding: 0 15px;
  font-weight: normal;
}

@media only screen and ( max-device-width: 640px) {
  .footer-section .input-group {
    width: 90%;
    margin: 0 auto;
  }
  .social-media {
    padding: 8px 0px 20px 0;
    text-align: center;
  }
  .footer-section ul {
    margin-bottom: 15px;
  }
}


@media only screen and ( max-device-width: 768px) {

  body>.wrapper {
    padding: 12% 0px 0
  }
  .social-media {
    padding: 10px 0px 10px 0;
  }
  .products{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 750px;
  }
  .home-product-section {
    height: 700px;
  }
  .add-cart .input-group {
    width: 30%;
    text-align: center;
  }
}

@media only screen and ( max-device-width: 731px) {
  .footer-section .input-group {
    width: 95%;
  }
  body>.wrapper {
    padding: 12% 0px 0
  }
}
@media only screen and (min-device-width: 765px) and ( max-device-width: 1024px) {  
  .btn-section {
    text-align: center;
    padding: 35% 0px;
  }
}

@media only screen and (min-device-width: 769px) and ( max-device-width: 1024px) {  

  .add-cart .input-group {
    width: 30%;
    text-align: center;
  }
}
@media only screen and (min-device-width: 1025px) and ( max-device-width: 1440px) {
  .add-cart .input-group {
    width: 22%;
    text-align: center;
  }
}
@media only screen and (min-device-width: 1441px) and ( max-device-width: 2560px) {
  .add-cart .input-group {
    width: 12%;
    text-align: center;
  }
}

/*Modal Window*/

.modal-style .modal-content {
  background-color: #000;
  box-shadow: 2px 3px 2px #1b1b1b;
  padding: 8%;
}

.modal-style .modal-content form {
  margin-bottom: 10px;
}

.modal-style .modal-title {
  color: #fff;
  font-size: 14px;
}

.modal-style .modal-header {
  border-bottom: 1px solid transparent;
  padding: 1rem 1rem 0.5rem 1.5rem;
}

.modal-style .close {
  color: #fff;
  opacity: 6;
}

.modal-style .close:hover {
  color: #fff;
  opacity: 6;
}

.modal-footer {
  border-top: 1px solid transparent !important;
  padding: 0em 1rem 1rem;
}

.search-button {
  margin: 0 15px;
}

.search-toggle {
  position: relative;
  display: block;
  height: 10px;
  width: 10px;
}

.search-toggle::before, .search-toggle::after {
  content: '';
  position: absolute;
  display: block;
  transition: all 0.1s;
}

/*.search-toggle::before {
  border: 2px solid #0097bf;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: -2px;
  top: -2px;
}
.search-toggle::after {
  height: 2px;
  width: 7px;
  background: #0097bf;
  top: 10px;
  left: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}*/

.search-toggle.active::before {
  width: 0;
  border-width: 1px;
  border-radius: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -1px;
  left: 4px;
}

.search-toggle.active::after {
  width: 12px;
  left: -1px;
  top: 4px;
}

.search-input:focus {
  outline: none;
}

#header-1 .search-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background: #b48a34;
  transition: all 0.3s;
  padding: 0 12px;
  top: 66px;
  left: 0px;
  right: 0px;
}

#header-1 .search-box .search-input {
  width: 100%;
  height: 100%;
  padding: 0 1em;
  border: 0;
  display: none;
  background-color: transparent;
  opacity: 0;
  color: #fff;
}

#header-1 .search-box .search-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

#header-1.show .search-box {
  max-height: 40px;
}

#header-1.show .search-box .search-input {
  opacity: 1;
}


@media only screen and ( max-device-width: 380px) {
  .shopping-cart .product .product-removal {
    width: min-content;
  }
  .shopping-cart .product .product-image {
    margin: auto;
  }
  .shopping-cart .product-details {
    width: 60%;
  }
  .checkout-btn .primary-button {
    width: 40%;
  }
  .products .wrapper-section {
    padding: unset;
  }
  .home-banner-button {
    margin-left: 30%;
  }
  .tab-link ul {
    padding-left: 1rem;
    margin-bottom: 0px;
    line-height: 36px;
    position: absolute;
    top: 30px;
    /* left: -40px; */
    width: max-content;
    z-index: 99;
    margin-top: 44px;
  }
  .dot {
    top: unset !important;
    right: unset !important;
    left: 15.5%;
    bottom: 10.5%;
  }
  .testimonial-carousel p {
    text-align: left;
    margin-left: 5%;
  }
  .testimonial-section h3 {
    font-size: 14px;
    color: #fff;
    margin-left: 5%;
  }
  .sticky .dot {
    height: 5px;
    width: 5px;
    position: absolute;
    top: unset !important;
    right: unset !important;
    left: 16%;
    bottom: 13%;
    background-color: #AC7E36;
    border-radius: 50%;
    display: inline-block;
  }
  .product-tile-group {
    margin-top: 30%;
  }
  .tab-link .nav-stacked>li {
    display: inline-block;
    float: left;
    padding: 10px;
    width: auto;
  }
  .tab-link .nav-stacked>li+li {
    display: inline-block;
    float: left;
    width: auto;
  }
  .track-order .tab-link ul {
    position: absolute;
    margin-top: -417%;
    left: -13px;
  }
}

@media ( min-device-width: 380px) and ( max-device-width: 450px) {
  .shopping-cart .product .product-removal {
    width: min-content;
  }
  .shopping-cart .product .product-image {
    margin: auto;
  }
  .shopping-cart .product-details {
    width: 60%;
  }
  .checkout-btn .primary-button {
    width: 40%;
  }
  .products .wrapper-section {
    padding: unset;
  }
  .home-banner-button {
    margin-left: 30%;
  }
  .testimonial-carousel p {
    text-align: left;
    margin-left: 5%;
  }
  .testimonial-section h3 {
    font-size: 14px;
    color: #fff;
    margin-left: 5%;
  }
  .tab-link ul {
    padding-left: 5em;
    margin-bottom: 0px;
    line-height: 36px;
    position: absolute;
    top: 30px;
    /* left: -40px; */
    width: max-content;
    z-index: 99;
    margin-top: 44px;
  }
  .dot {
    top: unset !important;
    right: unset !important;
    left: 15.5%;
    bottom: 10.5%;
  }
  .sticky .dot {
    height: 5px;
    width: 5px;
    position: absolute;
    top: unset !important;
    right: unset !important;
    left: 16%;
    bottom: 13%;
    background-color: #AC7E36;
    border-radius: 50%;
    display: inline-block;
  }
  .tab-link ul {
    padding-left: 5em;
    margin-bottom: 0px;
    line-height: 36px;
    position: absolute;
    top: 30px;
    left: 0px;
    width: max-content;
    z-index: 99;
    margin-top: 15px;
  }
  .tab-link .nav-stacked>li {
    display: inline-block;
    float: left;
    padding: 10px;
    width: auto;
  }
  .tab-link .nav-stacked>li+li {
    display: inline-block;
    float: left;
    width: auto;
  }
  .track-order .tab-link ul {
    position: fixed;
    top: 10%;
    left: 40px;
  }
}

@media ( min-device-width: 460px) and ( max-device-width: 580px) {
  .shopping-cart .product .product-removal {
    width: min-content;
  }
  .shopping-cart .product .product-image {
    margin: auto;
  }
  .shopping-cart .product-details {
    width: 60%;
  }
  .checkout-btn .primary-button {
    width: 40%;
  }
  .products .wrapper-section {
    padding: unset;
  }
  .home-banner-button {
    margin-left: 30%;
  }
  .testimonial-carousel p {
    text-align: left;
    margin-left: 5%;
  }
  .testimonial-section h3 {
    font-size: 14px;
    color: #fff;
    margin-left: 5%;
  }
  .tab-link ul {
    padding-left: 5em;
    margin-bottom: 0px;
    line-height: 36px;
    position: absolute;
    top: 30px;
    /* left: -40px; */
    width: max-content;
    z-index: 99;
    margin-top: 44px;
  }
  .dot {
    top: unset !important;
    right: unset !important;
    left: 15.5%;
    bottom: 10.5%;
  }
  .sticky .dot {
    height: 5px;
    width: 5px;
    position: absolute;
    top: unset !important;
    right: unset !important;
    left: 16%;
    bottom: 13%;
    background-color: #AC7E36;
    border-radius: 50%;
    display: inline-block;
  }
  .tab-link ul {
    padding-left: 5em;
    margin-bottom: 0px;
    line-height: 36px;
    position: absolute;
    top: 5px;
    left: 80px;
    width: max-content;
    z-index: 99;
    margin-top: 30px;
  }
  .tab-link .nav-stacked>li {
    display: inline-block;
    float: left;
    padding: 10px;
    width: auto;
  }
  .tab-link .nav-stacked>li+li {
    display: inline-block;
    float: left;
    width: auto;
  }
  .track-order .tab-link ul {
    position: fixed;
    top: 10%;
    left: 40px;
  }
}

@media ( min-device-width: 580px) and ( max-device-width: 750px) {
  .tab-link ul {
    padding-left: 5em;
    margin-bottom: 0px;
    line-height: 36px;
    position: absolute;
    top: 12px;
    left: 125px;
    width: max-content;
    z-index: 99;
    margin-top: 15px;
  }
  .tab-link .nav-stacked>li {
    display: inline-block;
    float: left;
    padding: 10px;
    width: auto;
  }
  .tab-link .nav-stacked>li+li {
    display: inline-block;
    float: left;
    width: auto;
  }
  .track-order .tab-link ul {
    position: fixed;
    top: 10%;
    left: 40px;
  }
}
@media only screen and ( max-device-width: 640px) {
  .home-carousel .carousel-control-next, .home-carousel .carousel-control-prev {
    bottom: -16px;
  }
}

@media only screen and ( max-device-width: 450px) {

  .products{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
  }
  .tab-carousel {
    padding: 40px 0 0px;
  }

  .product-carousel .carousel-control-prev {
    width: 34px;
    left: -36px;
    margin-left: 1px;
    
  }

  .product-carousel .carousel-control-next {
    right: -21px;
    width: 34px;
    margin-top: -80px;
  }
  .carousel-control-next {
    width: 34px;
    right: -30px;
  }
  .carousel-control-prev {
    width: 34px;
    left: -30px;
  } 
  
}

@media only screen and ( max-device-width: 640px) {
  h1 {
    letter-spacing: 1px;
    font-size: 28px;
  }
  h2 {
    font-size: 25px;
  }
  .content {
    padding: 40px 20px 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .product-content {
    padding: 15px 5px;
  }
  .product-section .product-content {
    padding: 5px 0px;
  }
}

@media only screen and ( max-device-width: 426px) {
  body>.wrapper {
    padding: 25% 0px 0 !important;
  }
  .add-cart .input-group {
    width: 35% !important;
    text-align: center;
}
  .products{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
  }
}

@media only screen and ( max-device-width: 320px) {
  body>.wrapper {
    padding: 25% 0px 0 !important;
}
  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .products{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
  }
}

@media only screen and ( max-device-width: 812px) {
  .content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

@media only screen and ( max-device-width: 375px) {
  body>.wrapper {
    padding: 26% 0px 0 !important;
  }
  .add-cart .input-group {
    width: 50% !important;
    text-align: center;
  }
  .content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  .product-card {
    margin: 0;
  }
  .product-section .product-content {
    padding: 5px 5px;
  }
  .product-title {
    font-size: 10px;
  }
  .products {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 600px;
}
}

@media only screen and ( max-device-width: 360px) {
  .product-card {
    margin: 0;
  }
  .product-section .product-content {
    padding: 5px 5px;
  }
  .product-title {
    font-size: 10px;
  }
}

@media only screen and ( max-device-width: 411px) {
  .search-button {
    margin: 0px 15px 14px 20px;
  }
}
.scrollbar{
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
    background: #b48a34;
}
::-webkit-scrollbar-track {
    background: rgba(120, 150, 70, 0.1);
}

.past-order-section .order-field label {
  margin-bottom: 0px;
  color: #b48a34;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.past-order-section .ordertext-field {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.3px;
}
.order-field {
  margin-bottom: 10px;
  width: 50%;
  float: left;
}

.order-wrapper .order-wrapper-title{
  margin-top: 25px;
  text-align: center;
  font-size: 28px;
  margin-left: -50px;
}

.track-order-section {
  border: 1px solid #b48a34;
  padding: 15px 20px;
  margin: 15px 0px;
  text-align: center;
}

.track-order-section h4 {
  color: #fff;
  font-weight: 500;
}

.track-order-section p {
  color: #b48a34;
  margin-bottom: 0px;
  letter-spacing: 1px;
}

.order-scroll{
  height: 300px;
  overflow-y: scroll;
  padding: 0 15px;
}

@media only screen and ( min-width: 1500px) and (max-width: 1599px) {
  .products {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 1150px;
  }
  .wrapper-section {
    padding: 52px 10px;
    padding-bottom: 80px;
  }
  .tab-carousel {
    padding: 15px 0 0;
  }

  .home-product-section {
    height: 450px;
  }

  #banner {
    height:550px;
  }
  .tab-carousel .carousel-control-prev .arrow-style {
    top: -20px;
    position: relative;
    right: 50px;
  }
  
  .tab-carousel .carousel-control-next .arrow-style {
    top: -20px;
    position: relative;
    right: -30px;
  }
  
  .tab-carousel .product-section {
    padding: 10px 0px 0px;
    width: 1286.660px !important;
  }
}

@media only screen and ( min-width: 1600px) and (max-width: 1919px) {
  body>.wrapper {
    padding: 4% 0px 0;
}
  .products {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 1150px;
  }
  .wrapper-section {
    padding: 52px 10px;
    padding-bottom: 80px;
  }
  .tab-carousel {
    padding: 15px 0 0;
  }

  .home-product-section {
    height: 450px;
  }

  #banner {
    height:550px;
  }
  .tab-carousel .carousel-control-prev .arrow-style {
    top: -20px;
    position: relative;
    right: 50px;
  }
  
  .tab-carousel .carousel-control-next .arrow-style {
    top: -20px;
    position: relative;
    right: -30px;
  }
  
  .tab-carousel .product-section {
    padding: 10px 0px 0px;
    width: 1286.660px !important;
  }
}

@media only screen and ( min-width: 1920px) {
  body>.wrapper {
    padding: 4% 0px 0;
}
  .products {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 1250px;
  }
  .wrapper-section {
    padding: 52px 10px;
    padding-bottom: 80px;
  }
  .tab-carousel {
    padding: 15px 0 0;
  }
  .home-product-section {
    height: 560px;
  }
  #banner {
    height:550px;
  }

  .tab-carousel .carousel-control-prev .arrow-style {
    top: -20px;
    position: relative;
    right: 50px;
  }
  
  .tab-carousel .carousel-control-next .arrow-style {
    top: -20px;
    position: relative;
    right: -30px;
  }
  
  .tab-carousel .product-section {
    padding: 10px 0px 0px;
    width: 1286.660px !important;
  }
}
/* 
.animation-element {
  opacity: 0;
  position: relative;
}

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.animation-element.slide-right {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(100px, 0px, 0px);
  -webkit-transform: translate3d(100px, 0px, 0px);
  -o-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate3d(100px, 0px, 0px);
}

.animation-element.slide-right.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
@media only screen and ( max-device-width: 411px) {
  .animation-element.slide-right {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  .animation-element.slide-left {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
} */
